@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Abel')
global-reset()

main-color = #D9534F
background-color = #C90000
player-width = 855px
player-height = 505px
panel-width = 427px

body
  background-color #FFEDED
  font-family 'Helvetica'

header
  padding 50px 10px
  background-color main-color
  color #fff
  font-family 'Abel'
  text-align center
  box-shadow 0px 1px 2px darken(main-color, 30%)

  h1
    font-size 50px

#main-content-container
  width 100%
  padding-top 50px
  text-align center
  
  #row-container
    width auto
    text-align center

    .row
      width auto
      margin 0px auto

      #left-block
        margin-top 50px
        height 300px
        max-width 50%
        
      #right-block
        margin-top 50px
        height player-height - 36px
        max-width 50%
        
        #nav-menu
          color white
          
          li 
            min-width 100px
          
          #welcome-tab
            border-top 0px

            #welcome-anchor
              color #c9302c
              
          #room-tab
            border-top 0px

            #room-anchor
              color #c9302c
              
          #chat-tab
            border-top 0px
            
            #chat-anchor
              color #c9302c

        #welcome-tab-panel
          border-top none
          border-top-left-radius 0px
          border-top-right-radius 0px
          height 100%
          
          #welcome-body
            font-size 18px
            line-height 25px
        
        #room-tab-panel
          display none
          border-top none
          border-top-left-radius 0px
          border-top-right-radius 0px
          height 100%
          
          #room-body
            font-size 18px
            line-height 25px
              
            #room-form
              width 100%
              
              #room-form-group
                width 80%

                #room-input
                  width 100%
              
              #room-button
                width 20%

        #chat-tab-panel
          display none
          border-top none
          border-top-left-radius 0px
          border-top-right-radius 0px
          height 100%
          
          #chat-body
            //border-top-left-radius 0px
            //border-top-right-radius 0px


      #center-block
        margin 50px auto
        padding 0px
        text-align center
        //This scheme for resizable vidya found here http://stackoverflow.com/questions/7737557
        #theater-container
          margin 0px auto 20px
          max-width player-width
          
          #player-container
            position relative
            padding-bottom 60%
            height 0px

            #player
              position absolute
              top 0px
              left 0px
              width 100%
              height 100%
              border-top 5px solid #000
              border-bottom 5px solid #1A1A1A
              border-left 1px solid #000
              border-right 1px solid #000
              border-radius 5px

        #video-select-container
          width 50%
          margin 0 auto
          text-align center

          #video-form
            width 100%
            display table

            .form-group
              display table-cell
              width 85%
                    
              #query-input
                width 100%

            #query-btn
              display table-cell
              
          #search-results
            width 100%

footer
  width player-width
  text-align center
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 15px