@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Abel')
global-reset()

main-color = #D9534F
background-color = #C90000
player-width = 855px
player-height = 505px

body
  background-color #FFEDED
  font-family 'Helvetica'

header
  padding 50px 10px
  background-color main-color
  color #fff
  font-family 'Abel'
  text-align center
  box-shadow 0px 1px 2px darken(main-color, 30%)

  h1
    font-size 50px

#main-content-container
  width 100%
  padding-top 50px
  text-align center
  
  #row-container
    width auto
    padding 0px
    text-align center

    .row
      width auto
      margin 0px auto
      
      #main-content-col
        padding 0px
        
        .row
          width auto

          #right-block
            margin 0px auto
            padding 0px 15px
            max-width 50%
            
            #nav-menu
              color white
              
              li 
                width 25%
                border-top 0px
                overflow hidden
                
                a
                  color #c9302c
                  margin 0px
                  width 100%
                  
            .panel-right
              border-top-left-radius 0px
              border-top-right-radius 0px
              border-top none
              margin 0px
              min-height 470px
              max-height 470px   
              overflow-y scroll     
              
              .panel-body
                font-size 18px
                line-height 25px
                height 100%
            
            #room-tab-panel
              display none
              border-top none
              
              #room-body
                font-size 18px
                line-height 25px
                  
                #room-form
                  width 100%
                  
                  #room-form-group
                    width 80%

                    #room-input
                      width 100%
                  
                  #room-button
                    width 20%

            #status-tab-panel
              display none
              border-top none

            #chat-tab-panel
              display none
              border-top none

          #center-block
            margin 0px auto 50px
            padding 0px 15px
            text-align center
            //This scheme for resizable vidya found here http://stackoverflow.com/questions/7737557
            #theater-container
              margin 0px auto 50px
              max-width player-width
              
              #player-container
                position relative
                padding-bottom 60%
                height 0px

                #player
                  position absolute
                  top 0px
                  left 0px
                  width 100%
                  height 100%
                  border-top 5px solid #000
                  border-bottom 5px solid #000
                  border-left 1px solid #000
                  border-right 1px solid #000
                  border-radius 5px

            #video-select-container
              max-width 50%
              padding 0px 5px
              margin 0px auto
              text-align center

              #video-form
                width 100%
                display table

                .form-group
                  display table-cell
                  width 85%
                        
                  #query-input
                    width 100%

                #query-btn
                  display table-cell
                  
              #search-results
                width 100%

footer
  width 100%
  float none
  text-align center
  margin 100px auto 50px
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 15px
    
    p 
      float none
      margin 0px auto
