@import url('http://fonts.googleapis.com/css?family=Raleway:300');

/*background-color*/
.content {
  background-color: #E8E8E8;
}

/*content color*/
.container,
.navbar {
  background-color: white;
}

*::selection,
.header,
.footer {
  background-color: #FF6347;
}

/*link color*/
a.navbar-link:hover,
h5.toggler:hover {
  color: #FF6347;
}

/*button and text area color*/
#video-button:hover, #room-button:hover, #email-button:hover,
#video-input:focus, #room-input:hover, #email-input:hover,
textarea:focus {
  border-color: red;
}

.left {
  float: left;
}

.right {
  float: right;
}

body {
  padding-top: 10em
}

.header {
  font-family: 'Raleway';
  position: fixed;
  top: 0;
  width: 100%;
  height: 10rem;
  padding-top: 5rem;
  z-index: -1;
  text-align: center;
}

.content {
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
}

.navbar-container {
  height: 50px;
  width: 100%;
}

.navbar {
  box-shadow: 0 5px 5px -5px;
  z-index: 150;
  width: inherit;
  height: inherit;
}

.navbar-scrolled {
  position: fixed;
  border-top: none;
  top: 0;
}

ul.video-list, {
  padding: 0;
  margin: 0;
}

ul.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 100%;
}

li.navbar-item {
  margin: 0;
}

a.navbar-link {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: .9em;
  color: black;
  font-weight: bold;
}

.section-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* This scheme for resizable vidya found here http://stackoverflow.com/questions/7737557 */

#player-container {
  margin: 0px 0px 50px;
  position: relative;
  padding-bottom: 60%;
  height: 0px;
}

#player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section {
  padding: 0px 10px;
}

h5.toggler {
  border-bottom: thin solid #ccc;
  cursor: pointer;
}

h5.toggler + * {
  margin-bottom: 5rem;
}

.footer {
  text-align: center;
  width: 100%;
  padding-top: 2.5rem;
  height: 5rem;
}